@import "variables";

body {
  font: 100% $font-stack;
  background-color: $primary-color;
  color: $font-color;
  header {
    h1,
    p {
      text-align: center;
    }
    h1 {
      font-weight: bolder;
      font-size: 7vh;
      color: white;
    }
    padding-bottom: 2vh;
    margin-bottom: 2vh;
  }
  .score {
    font-weight: bolder;
    text-align: center;
    width: 100%;
    font-size: 10vh;
  }
  .question {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 8vh;
    border-radius: 1vh;
    padding: 5vh 2vh;
    border: solid #40383c 1px;
    .questionTxt {
      color: $question-txt;
      width: 100%;
      font-size: 3vh;
      font-weight: bolder;
      margin-bottom: 3vh;
      color: white;
      .num {
        font-weight: bold;
        color: white;
        text-align: center;
        padding: 3px 3px;
      }
    }
    .choices {
      display: flex;
      flex-direction: row;
      .choice {
        margin-right: 3vh;
        padding: 1vh 1vh;
        border: solid rgb(126, 126, 126) 1px;
        border-radius: 4px;
        &:hover {
          background-color: rgba(220, 220, 220, 0.8);
          color: black;
          cursor: pointer;
        }
      }
    }
  }
}
